@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


body {
    background-color: #359dd9;
    padding: 0;
    margin: 0;
}

#c02{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

main{
    padding-left:4vw;
    padding-right: 4vw;
}

nav {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    background-color: #1e6187;
    height: 10vh;
    align-items: center;
}

ul li {
    display: inline;
    padding-left: 1vw;
    padding-right: 1wv;
}

h1 {
    color: #000344
}

nav li a{
    text-decoration: none;
    font-weight: bold;
    font-family: "Indie Flower", cursive;
    font-size: 1.75em;
    color: white;
    font-weight: 400;
    font-style: normal;
}

nav li a:hover {
    color: #ffeb00;
    font-size: 2.5em;
}

p {
    color: white;
    font-size: 1.25em;
    margin-top: 0;
    margin-bottom: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    z-index: 0;
    background-color: #1e6187;
}

.parrafo{
    text-align: center;
}

.formulario{
    margin: 0 auto;
    margin-top: 15px;
    background-color: #2774a0;
    font-family: "Indie Flower", cursive;
    font-size: 1.75em;
    color: white;
    width:500px;
    height: 450px;
    border-radius: 10px;
    display: grid;
}


.botton{
    width: 100px;
    height: 50px;
    margin: 0 auto;
    border-radius: 15px;
}
