@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


body {
    background-color: #359dd9;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    padding-left: 4vw;
    padding-right: 4vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

nav {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    background-color: #1e6187;
    height: 10vh;
    align-items: center;
}

ul li {
    display: inline;
    padding-left: 1vw;
    padding-right: 1wv;
}

h1 {
    color: #000344
}

nav li a {
    text-decoration: none;
    font-weight: bold;
    font-family: "Indie Flower", cursive;
    font-size: 1.75em;
    color: white;
    font-weight: 400;
    font-style: normal;
}

nav li a:hover {
    color: #ffeb00;
    font-size: 2.5em;
}

p {
    color: white;
    font-size: 1.25em;
    margin-top: 0;
    margin-bottom: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    z-index: 0;
    background-color: #1e6187;
}

.grid-container {
    display: inline-grid;
    column-width: 35%;
    column-gap: 5%;
    row-gap: 5%;
    width: 90%;
    grid-template-columns: auto auto;
}

.logo {
    width: 300px;
    height: 300px;
    position: fixed;
    /* Fija la posición del contenedor en relación con la ventana del navegador */
    bottom: 0;
    /* Lo sitúa en la parte inferior */
    right: 0;
    /* Lo sitúa en la esquina derecha */
    z-index: 999;
    /* Asegura que la imagen esté por encima del footer */
}

/*SECTOR CARROUSEL HOME*/

.slider-frame {
    width: 80%;
    height: auto;
    margin: 10px auto 0;
    overflow: hidden;
}

.slider-frame ul {
    display: flex;
    animation: slide 35s infinite linear;
    padding: 0;
    width: 700%;
}

.slider-frame li {
    list-style: none;
    width: 100%;

}

.slider-frame img {
    width: 100%;
}

@keyframes slide {
    0% {
        margin-left: 0%;
    }

    9.28% {
        margin-left: 0%;
    }

    14.28% {
        margin-left: -100%;
    }

    23.56% {
        margin-left: -100%;
    }

    28.56% {
        margin-left: -200%;
    }

    37.84% {
        margin-left: -200%;
    }

    42.84% {
        margin-left: -300%;
    }

    52.14% {
        margin-left: -300%;
    }

    57.14% {
        margin-left: -400%;
    }

    66.4% {
        margin-left: -400%;
    }

    71.4% {
        margin-left: -500%;
    }

    80.68% {
        margin-left: -500%;
    }

    85.68% {
        margin-left: -600%;
    }

    94.96% {
        margin-left: -600%;
    }
}

/*NUESTRA CARTA*/

.titulo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sectorComidas {
    width: 90%;
    height: fit-content;
    padding: 2% 2% 2% 2%;
    background-color: #7d7d7d;
    color: black;
    margin-bottom: 5%;
    box-shadow: 10px 10px;
    border-radius: 75px;
}

#comidas:hover {
    background-color: #4e00647a;
    color: yellow;
}

#bebidas:hover {
    background-color: #4e00647a;
    color: yellow;
}

#postres:hover {
    background-color: #4e00647a;
    color: yellow;
}

.menu {
    padding: 5% 5% 5% 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menuitemimg {
    height: 200px;
    width: auto;
}

.menuitem:hover {
    transform: scale(1.1);
    /* Escala el elemento al 110% en el hover */
}

.subsector {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menuitem {
    overflow: hidden;
    /* Para ocultar el contenido que sobresale durante el zoom */
    transition: transform 0.3s ease;
    /* Transición suave para el efecto de zoom */
    height: 250px;
    width: auto;
    padding: 1% 1% 1% 1%;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h4 {
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 3em;
    text-decoration: underline;
    text-align: center;
    color: yellow;
}

.menuitemdesc {
    text-align: center;
    font-size: 1.125em;
}

/*SECTOR RESERVAS*/

.formulario {
    margin: 0 auto;
    margin-top: 5%;

    background-color: #2774a0;
    font-family: "Indie Flower", cursive;
    font-size: 1.75em;
    color: white;
    width: 30%;
    box-shadow: 10px 10px black;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2% 2% 2% 2%;
    justify-items: start;
    justify-content: center;
    align-items: center;
}

.cuerpo label {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    justify-content: space-between;
    align-items: center;
}

.desc {
    width: 100%;
    margin-bottom: 5%;
    text-align: center;
}

.desc p {
    font-family: "Lora", serif;
    font-size: 0.955em;
    text-decoration: underline;
    color: yellow;
}

.cuerpo {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cuerpo p {
    color: white;
    font-family: "Lora", serif;
    font-size: 0.6em;
}

.formulario input,
.formulario select,
.formualrio textarea {
    width: 70%;
    height: 30px;
}


#festejos {
    display: none;

}

.botton {
    width: 100px;
    height: 50px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: #637B7B;
    color: white;
}

#apartadoDeContacto {
    margin-top: 50px;
    background-color: #dde8e8;
    height: fit-content;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 6px 20px 10px black;
    text-align: center;
    font-size: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
}

.ContactoBox {
    margin-top: 15px;
    width: 95%;
}


.cajaDeContacto {
    text-align: center;
    width: 90%;
}

.box {
    padding: auto;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box input {
    width: 75%;
    height: 30px;
}

.textArea {
    display: flex;
}

/*SECTOR SOBRE NOSOTROS*/

.filaSectorNosotros {
    display: flex;
    margin-top: 5%;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5%;
}

.sector {
    width: 25%;
    height: fit-content;
    padding: 2% 2% 2% 2%;
    background-color: #4e00647a;
    margin-bottom: 5%;
    box-shadow: 10px 10px;
    border-radius: 75px;
}

.flechaAbajo {
    width: 40px;
    height: 40px;
}

.tit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.tit h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5em;
    text-decoration: underline;
    text-align: center;
    color: white;
}